In [4]:
# print function in python
# basic
print("hallo world")
print(15)
print(15.5)
print(True)
print("hallo world",15,15.5,True)

hallo world
15
15.5
True
hallo world 15 15.5 True

In [7]:
#priting multiple items
name = "pikun"
age = 21
print("my name is " ,name, "my age is" ,21 )

my name is  pikun my age is 21

In [10]:
# argument in print function
print("my name is pikun"," my age is 21",sep =" &") # separater between values
print("my name is pikun", end = "")
print("my age is 21") # using end arguments

my name is pikun & my age is 21
my name is pikunmy age is 21

In [14]:
#formated printing
print("my name is {} and my age is {}".format(name,age))

my name is pikun and my age is 21

In [15]:
#multine line print
''' hi i am pikun
my age is 21
i am form odisha'''

' hi i am pikun \nmy age is 21\ni am form odisha'

In [17]:
#using f string
print(f"my name is {name} and my age is {age}")

my name is pikun and my age is 21

In [19]:
#print in a loop
for i in range(3):
  print("hallo every one")

hallo every one
hallo every one
hallo every one